<a href="https://colab.research.google.com/github/RithvikKuchi/Work-by-Rithvik/blob/main/Basic_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BASIC PYTHON CODES TOTAL 100 CODES

In [ ]:
 #1
print("hello world")

hello world

In [ ]:
#2
x=int(input("enter the value of x"))
y=int(input("enter the value of y"))
operator=input("enter the operator '+','-','*','/','%','//','**'")
if(operator =="+"):
  print("the sum of x and y is x+y",x+y)
elif(operator =="-"):
  print("the difference of x and y is x-y",x-y)
elif(operator =="*"):
  print("the multiplication of x and y is x*y",x*y)
elif(operator =="/"):
  print("the division of x and y is x/y",x/y)
elif(operator =="%"):
  print("the modulo of x and y is",x%y)
elif(operator=="//"):
  print("the floor division operator of x and y is",x//y)
elif(operator=="**"):
  print("the exponential operator of x and y is",x**y)

enter the value of x5
enter the value of y4
enter the operator '+','-','*','/','%','//','**'+
the sum of x and y is x+y 9

In [ ]:
#3
x=input("enter the first string: ")
y=input("enter the second string: ")
print("x<y is",x<y)
print("x>y is",x>y)
print("x<=y is",x<=y)
print("x==y is",x==y)
print("x>=y is",x>=y)
print("x!=y is",x!=y)

enter the first string: 4.0
enter the second string: 5.0
x<y is True
x>y is False
x<=y is True
x==y is False
x>=y is False
x!=y is True

In [ ]:
#4
x=True
y=False
result= x and y
print("the result of x and y is",x and y)

x=True
y=False
print("the result of x or y is",x or y)

x=True
result=not True
print(" the result is not x is",result)

the result of x and y is False
the result of x or y is True
 the result is not x is False

In [ ]:
#5
x=4
x+=4
print("the addition of x is x+=",x)
y=5
y-=4
print("the difference of y is y-=",y)
z=3
z*=7
print("the product of z is *= is",z)
num1=9
num1/=6
print("the division of num1 is /= is",num1)
num2=9
num2%=3
print("the modulo of num2 is %= is",num2)

the addition of x is x+= 8
the difference of y is y-= 1
the product of z is *= is 21
the division of num1 is /= is 1.5
the modulo of num2 is %= is 0

In [ ]:
#6
x=eval(input("enter the value of x"))
y=eval(input("enter the value of y"))
print("x&:y is",x&y)
print("x|:y is",x|y)
print("x^:y is",x^y)
print("x<<:y is",x<<y)
print("x>>:y is",x>>y)

enter the value of x4
enter the value of y5
x&:y is 4
x|:y is 5
x^:y is 1
x<<:y is 128
x>>:y is 0

In [ ]:
#7
P=eval(input("enter the value of p"))
t=eval(input("enter the value of t"))
r=eval(input("enter the value of r"))
simple_interest=P*t*r/100
print("simple_interset",simple_interest)
A=eval(input("enter the value of A"))
n=eval(input("enter the value of n"))
compound_interest=A=P*(1+r/n)**n*t
print("compound_interest",compound_interest)

enter the value of p4
enter the value of t4
enter the value of r4
simple_interset 0.64
enter the value of A4
enter the value of n4
compound_interest 256.0

In [ ]:
#8
#area of circle
r=eval(input("enter the radius"))
area=3.142*r**r
print("area of circle",area)
#area of rectangle
l=eval(input("enter the value of l"))
b=eval(input("enter the value of b"))
rectangle =l*b
print("area of rectangle",rectangle)
#area of triangle
b=eval(input("enter the value of b"))
h=eval(input("enter the value of h"))
triangle =1/2*b*h
print("area of triangle",triangle)
#area of square
s=eval(input("enter the value of s"))
square =s*s
print("area of square",square)

enter the radius5
area of circle 1.8727779388427734e+17
enter the value of l4
enter the value of b4
area of rectangle 16
enter the value of b4
enter the value of h4
area of triangle 8.0
enter the value of s4
area of square 16

In [ ]:
#9
r=eval(input("enter the value of r"))
circumference=2*3.142*r
print("the circumference of circle is",circumference)

enter the value of r4.0
the circumference of circle is 25.136

In [ ]:
#10
'''
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**(0.5)
'''
a=eval(input("enter the first side "))
b=eval(input("enter the second side"))
c=eval(input("enter the third side "))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**(0.5)
print("the area of the triangle is",area)

enter the first side 2.0
enter the second side1.0
enter the third side 2.3
the area of the triangle is 0.9973684123732814

In [ ]:
#11
l=eval(input("enter the value of l"))
b=eval(input("enter the value of b"))
perimeter=2*(l+b)
print("perimeter is",perimeter)

enter the value of l3.0
enter the value of b4.0
perimeter is 14.0

In [ ]:
#12
a=eval(input("enter the value of a"))
b=eval(input("enter the value of b"))
h=eval(input("enter the value of h"))
Area=1/2*(a+b)*h
print("Area of trapezium is",Area)

enter the value of a3.0
enter the value of b4.0
enter the value of h5.0
Area of trapezium is 17.5

In [ ]:
#13
d1=eval(input("enter the value of d1 "))
d2=eval(input("enter the value of d2 "))
area=1/2*d1*d2
print("area of rhombus",area)

enter the value of d1 4.0
enter the value of d2 5.0
area of rhombus 10.0

In [ ]:
#14
b=eval(input("enter the value of b"))
h=eval(input("enter the value of h"))
area=b*h
print("area of parallelogram",area)

enter the value of b1.0
enter the value of h5.0
area of parallelogram 5.0

In [ ]:
#15
a=eval(input("enter the value of a"))
volume=a*a*a
print("volume of cube",volume)
surfacearea=6*a**2
print("surfacearea of cube",surfacearea)

enter the value of a4
volume of cube 64
surfacearea of cube 96

In [ ]:
#16
l=eval(input("enter the value of l"))
b=eval(input("enter the value of b"))
h=eval(input("enter the value of h"))
volume=l*b*h
surface_area=2*l*b+2*b*h+2*h*l
print("volume and 'surface_area' of cubiod is",volume,surface_area)

enter the value of l4
enter the value of b5
enter the value of h6
volume and 'surface_area' of cubiod is 120 148

In [ ]:
#17
r=eval(input("enter the value of r"))
h=eval(input("enter the value of h"))
volume=3.142*r**2*h
print("the volume of cylinder is",volume)
pi=3.142
surface_area=2*pi*r**2 + 2*pi*r*h
print("surface_area of cylinder is",surface_area)

enter the value of r5
enter the value of h4
the volume of cylinder is 314.2
surface_area of cylinder is 282.78

In [ ]:
#18
r=eval(input("enter the value of r"))
h=eval(input("enter the value of h"))
pi=3.142
volume=1/3*pi*r**2*h
print("volume is",volume)
l=math.sqrt(r**2+h**2)
surface_area=pi*r*(r+l)
print("surface_area is",surface_area)

enter the value of r4
enter the value of h5
volume is 83.78666666666666
surface_area is 130.74646541605603

In [ ]:
#19
r=eval(input("enter the value of r"))
volume=4/3*3.142*r**3
print("volume of sphere is",volume)
surface_area=4*3.142*r**2
print("surface_area of sphere",surface_area)

enter the value of r4
volume of sphere is 268.1173333333333
surface_area of sphere 201.088

In [ ]:
#20
r=eval(input("enter the value of r"))
perimeter_of_circle=2*3.142*r
print("perimeter_of_circle is",perimeter_of_circle)
l1=eval(input("enter the first lenght"))
l2=eval(input("enter the second lenght"))
l3=eval(input("enter the third lenght"))
perimeter_of_triangle=l1+l2+l3
print("perimeter_of_triangle is",perimeter_of_triangle)

enter the value of r4
perimeter_of_circle is 25.136
enter the first lenght4
enter the second lenght4
enter the third lenght4
perimeter_of_circle is 12

In [ ]:
#21
a=eval(input("enter the value of a"))
b=eval(input("enter the value of b"))
print("before swapping a and b is",a,b)
temp=a
a=b
b=temp
print("after swapping a and b is",a,b)

enter the value of a4
enter the value of b5
before swapping a and b is 4 5
after swapping a and b is 5 4

In [ ]:
#22
a=eval(input("enter the value of a"))
b=eval(input("enter the value of b"))
print("before swapping a and b is",a,b)
a=a+b
b=a-b
a=a-b
print("after swapping a and b is",a,b)

enter the value of a4.0
enter the value of b5.0
before swapping a and b is 4.0 5.0
after swapping a and b is 5.0 4.0

In [ ]:
#23
a=eval(input("enter the value of a "))
b=eval(input("enter the value of b "))
print("before swapping a and b is",a,b)
a=a ^ b
b=a ^ b
a=a ^ b
print("after swapping a and b is",a,b)

enter the value of a 5
enter the value of b 9
before swapping a and b is 5 9
after swapping a and b is 9 5

In [ ]:
#24
a=eval(input("enter the value of a "))
b=eval(input("enter the value of b "))
print("before swapping a and b is",a,b)
a,b=b,a
print("after swapping a and b is",a,b)

enter the value of a 5
enter the value of b 8
before swapping a and b is 5 8
after swapping a and b is 8 5

In [ ]:
#25
a=eval(input("enter the point digits: "))
x=int(a)
right_most_digit=x%10
print("its right most digit of its integral part is",right_most_digit)

enter the point digits: 1.23
its right most digit of its integral part is 1

In [ ]:
#26
Celsius=eval(input("enter the temperature in C "))
Fahrenheit=9/5*Celsius+32
print("the temperature in Fahrenheit",Fahrenheit)

enter the temperature in C 4.2
the temperature in Fahrenheit 39.56

In [ ]:
#27
uppercase_char ='R'
lowercase_char = uppercase_char.lower()
print(f"The lowercase equivalent of {uppercase_char} is {lowercase_char}")

The lowercase equivalent of r is r

In [ ]:
#28
lowercase_char ='u'
uppercase_char = lowercase_char.upper()
print(f"The uppercase equivalent of {lowercase_char} is {uppercase_char}")

The uppercase equivalent of u is U

In [ ]:
#29
a=eval(input("enter the value of a "))
b=eval(input("enter the value of b "))
c=eval(input("enter the value of c "))
avg=(a+b+c)/3
print("average of three numbers",avg)

enter the value of a 2
enter the value of b 4
enter the value of c 5
average of three numbers 3.6666666666666665

In [ ]:
#30
def compute_net_salary(basic_salary):
    DA, TA, HRA = 0.10 * basic_salary, 0.12 * basic_salary, 0.15 * basic_salary
    return basic_salary + DA + TA + HRA
basic_salary = float(input("Enter the basic salary: "))
net_salary = compute_net_salary(basic_salary)
print(f"The net salary is: {net_salary}")

Enter the basic salary: 1414
The net salary is: 1937.18

In [ ]:
#31
input=int(input("enter the value of input"))
result=input<<2
print("the result is",result)

enter the value of input1
the result is 4

In [ ]:
#32
a=eval(input("enter the value of a"))
b=eval(input("enter the value of b"))
if(a>b):
  print("a is greater")
else:
  print("b is greater")

enter the value of a1
enter the value of b4
b is greater

In [ ]:
#33
num1 = eval(input("Enter the first number: "))
num2 = eval(input("Enter the second number: "))
num3 = eval(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
    greatest = num1
elif num2 >= num1 and num2 >= num3:
    greatest = num2
else:
    greatest = num3
print(f"The greatest number is: {greatest}")

Enter the first number: 2.0
Enter the second number: 5.0
Enter the third number: 1.0
The greatest number is: 5.0

In [ ]:
#34
a=eval(input("enter the value of a"))
if(a%2==0):
  print("a is even")
else:
  print("a is odd")

enter the value of a4.0
a is even

In [ ]:
#35
a=eval(input("enter the  value of a"))
if(a==0):
  print("equal to zero")
else:
  print("not equal to zero")

ente rhte value of a4
not equal to zero

In [ ]:
#36
a=eval(input("enter the  value of a"))
if(a>0):
  print("the number is positive")
elif(a<0):
  print("the number is negative")
elif(a==0):
  print("the number is equal to zero")

enter the  value of a0
the number is equal to zero

In [ ]:
#37
year=input("enter the value of year")
if(("year%4==0 : year%100!=0") or ("year%400==0")):
  print("it is a leap year")
else:
  print("is it not a leap year")

enter the value of year2006
it is a leap year

In [ ]:
#38
char = input("Enter a character: ")
char = char.lower()
if char.isalpha() and len(char) == 1:
    if char in "aeiou":
        print(f"{char} is a vowel.")
    else:
        print(f"{char} is a consonant.")
else:
    print("Please enter a single alphabetical character.")

Enter a character: g
g is a consonant.

In [ ]:
#39
x=int(input("enter the value of x"))
y=int(input("enter the value of y"))
op=input("enter the operator '+','-','*','/','%'")
if(op =="+"):
  print("the sum of x and y is x+y",x+y)
elif(op =="-"):
  print("the difference of x and y is x-y",x-y)
elif(op =="*"):
  print("the multiplication of x and y is x*y",x*y)
elif(op =="/"):
  print("the division of x and y is x/y",x/y)
elif(op=="%"):
  print("the modulo of x and y is",x%y)
else:
  print("enter the correct op is")

enter the value of x55
enter the value of y66
enter the operator '+','-','*','/','%'+
the sum of x and y is x+y 121

In [ ]:
#40
def is_number(input_str):
    try:
        float(input_str)
        return True
    except ValueError:
        return False
user_input = input("Enter a value: ")

if is_number(user_input):
    print("It's a number!")
else:
    print("It's not a number.")

Enter a value: 2
It's a number!

In [ ]:
#41
age=eval(input("enter the age of a person"))
if(age>=18):
  print("eligible to vote")
else:
  print("not eligible to vote")

enter the age of a person4
not eligible to vote

In [ ]:
#42
import math

def find_roots(a, b, c):

    discriminant = b**2 - 4*a*c


    if discriminant >= 0:

        root1 = (-b + math.sqrt(discriminant)) / (2*a)
        root2 = (-b - math.sqrt(discriminant)) / (2*a)
        return root1, root2
    else:

        real_part = -b / (2*a)
        imaginary_part = math.sqrt(abs(discriminant)) / (2*a)
        root1 = complex(real_part, imaginary_part)
        root2 = complex(real_part, -imaginary_part)
        return root1, root2


try:
    a = eval(input("Enter the coefficient a: "))
    b = eval(input("Enter the coefficient b: "))
    c = eval(input("Enter the coefficient c: "))

    roots = find_roots(a, b, c)

    print("Root 1:", roots[0])
    print("Root 2:", roots[1])

except ValueError:
    print("Invalid input. Please enter valid numerical coefficients.")

Enter the coefficient a: 3
Enter the coefficient b: 5
Enter the coefficient c: 4
Root 1: (-0.8333333333333334+0.7993052538854531j)
Root 2: (-0.8333333333333334-0.7993052538854531j)

In [ ]:
#43
class Student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks

    def calculate_grade(self):
        average_marks = sum(self.marks) / len(self.marks)
        if average_marks >= 90:
            return 'A'
        elif average_marks >= 80:
            return 'B'
        elif average_marks >= 70:
            return 'C'
        elif average_marks >= 60:
            return 'D'
        else:
            return 'F'

def main():
    student1 = Student("Alice", "001", [85, 90, 88])
    student2 = Student("Bob", "002", [78, 85, 80])
    student3 = Student("Charlie", "003", [92, 88, 95])
    print(f"{student1.name}'s Grade: {student1.calculate_grade()}")
    print(f"{student2.name}'s Grade: {student2.calculate_grade()}")
    print(f"{student3.name}'s Grade: {student3.calculate_grade()}")

if __name__ == "__main__":
    main()

Alice's Grade: B
Bob's Grade: B
Charlie's Grade: A

In [ ]:
#44
def binary_to_decimal(binary):
    decimal = 0
    binary_str = str(binary)
    binary_str = binary_str[::-1]

    for i in range(len(binary_str)):
        if binary_str[i] == '1':
            decimal += 2 ** i

    return decimal

def is_perfect_number(number):
    if number <= 1:
        return False

    divisors = [1]
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            divisors.append(i)
            if i != number // i:
                divisors.append(number // i)

    return sum(divisors) == number

def main():

    binary_input = input("Enter a binary number: ")

    decimal_number = binary_to_decimal(binary_input)
    print(f"Decimal equivalent: {decimal_number}")
    if is_perfect_number(decimal_number):
        print(f"{decimal_number} is a perfect number.")
    else:
        print(f"{decimal_number} is not a perfect number.")

if __name__ == "__main__":
    main()

Enter a binary number: 34
Decimal equivalent: 0
0 is not a perfect number.

In [ ]:
#45
name=input("enter one name")
print(name * 12)

enter one namerithvik
rithvikrithvikrithvikrithvikrithvikrithvikrithvikrithvikrithvikrithvikrithvikrithvik

In [ ]:
#46
natural_number=eval(input("enter the value of natural_number"))
if(natural_number>0):
  print("the number is natural number")
else:
  print("the number is not natural number")
a=input("the repition value")
result=natural_number * a
print(result)

enter the value of natural_number4
the number is natural number
the repition value5
5555

In [ ]:
#47
whole_number=eval(input("enter the value of whole_number"))
if(whole_number>=0):
  print("the number is whole number")
else:
  print("the number is not  a whole number")
x=input("the repition value")
whole_number==0
result=whole_number * x
print(result)

enter the value of whole_number5
the number is whole number
the repition value4
44444

In [ ]:
#47
n=int(input(" enter a number"))
for i in range(1,n+1):
  print(i)

 enter a number5
1
2
3
4
5

In [ ]:
#48
number=eval(input("enter the value of natural_number"))
if(number%2==0):
  print("the number is even number")
else:
  print("the number is not an even  number")
a=input("the repition value")
result=number * a
print(result)

enter the value of natural_number10
the number is even number
the repition value20
20202020202020202020

In [ ]:
n=int(input("enter a number"))
for i in range(0,n+1):
  if(i%2==0):
    print(i)

enter a number10
0
2
4
6
8
10

In [ ]:
#49
number=eval(input("enter the value of natural_number"))
if(number%2!=0):
  print("the number is odd number")
else:
  print("the number is not an odd  number")
a=input("the repition value")
result=number * a
print(result)

enter the value of natural_number1
the number is odd number
the repition value4
4

In [ ]:
n=int(input("enter a number"))
for i in range(0,n+1):
  if(i%2!=0):
    print(i)

enter a number10
1
3
5
7
9

In [ ]:
#50
def print_first_n_odd_numbers(n):
    count = 0
    number = 1

    while count < n:
        print(number)
        number += 2
        count += 1

def main():
    n = int(input("Enter the value of 'n' for the first 'n' odd numbers: "))
    print_first_n_odd_numbers(n)

if __name__ == "__main__":
    main()

Enter the value of 'n' for the first 'n' odd numbers: 5
1
3
5
7
9

In [ ]:
#50
n=int(input("enter a number"))
for i in range(0,2*n+1):
  if(i%2!=0):
    print(i)

enter a number5
1
3
5
7
9

In [ ]:
#51
def print_first_n_even_numbers(n):
    count = 0
    number = 2

    while count < n:
        print(number)
        number += 2
        count += 1

def main():

    n = int(input("Enter the value of 'n' for the first 'n' even numbers: "))
    print_first_n_even_numbers(n)

if __name__ == "__main__":
    main()

Enter the value of 'n' for the first 'n' even numbers: 3
2
4
6

In [ ]:
#51
n=int(input("enter a number"))
for i in range(0,2*n):
  if(i%2==0):
    print(i)

enter a number5
0
2
4
6
8

In [ ]:
#52
def print_ap_series(a, d, n):
    for i in range(1, n + 1):
        term = a + (i - 1) * d
        print(f"Term {i}: {term}")

def main():

    a = int(input("Enter the first term (a) of the AP series: "))
    d = int(input("Enter the common difference (d) of the AP series: "))
    n = int(input("Enter the number of terms (n) in the AP series: "))

    print_ap_series(a, d, n)

if __name__ == "__main__":
    main()

Enter the first term (a) of the AP series: 9
Enter the common difference (d) of the AP series: 5
Enter the number of terms (n) in the AP series: 6
Term 1: 9
Term 2: 14
Term 3: 19
Term 4: 24
Term 5: 29
Term 6: 34

In [ ]:
#52
a=int(input("enter a first number"))
d=int(input("enter common diffrerence"))
n=int(input("enter a number of terms"))
t=a*(n-1)*d
print(t)

enter a first number2
enter common diffrerence3
enter a number of terms20
114

In [ ]:
#53
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def print_prime_series(n):
    prime_series = [num for num in range(2, n + 1) if is_prime(num)]
    print(f"Prime Numbers Series till {n}: {prime_series}")

def main():

    n = int(input("Enter the value of n: "))


    print_prime_series(n)

if __name__ == "__main__":
    main()

Enter the value of n: 5
Prime Numbers Series till 5: [2, 3, 5]

In [ ]:
#54
def print_natural_numbers_and_sum(n):
    natural_numbers = list(range(1, n + 1))
    sum_of_naturals = sum(natural_numbers)

    print(f"Natural Numbers Series till {n}: {natural_numbers}")
    print(f"Sum of Natural Numbers till {n}: {sum_of_naturals}")

def main():

    n = int(input("Enter the value of n: "))


    print_natural_numbers_and_sum(n)

if __name__ == "__main__":
    main()

Enter the value of n: 5
Natural Numbers Series till 5: [1, 2, 3, 4, 5]
Sum of Natural Numbers till 5: 15

In [ ]:
#55
def even_series_and_sum(n):
    even_numbers = [num for num in range(2, n + 1, 2)]
    sum_of_evens = sum(even_numbers)
    total_evens = len(even_numbers)

    print(f"Even Series till {n}: {even_numbers}")
    print(f"Sum of Even Numbers till {n}: {sum_of_evens}")
    print(f"Total Even Numbers till {n}: {total_evens}")

def main():

    n = int(input("Enter the value of n: "))


    even_series_and_sum(n)

if __name__ == "__main__":
    main()

Enter the value of n: 9
Even Series till 9: [2, 4, 6, 8]
Sum of Even Numbers till 9: 20
Total Even Numbers till 9: 4

In [ ]:
#56
def even_series_and_sum(n):
    even_numbers = [num for num in range(2, n + 1, 2)]
    sum_of_evens = sum(even_numbers)
    total_evens = len(even_numbers)

    print(f"Even Series till {n}: {even_numbers}")
    print(f"Sum of Even Numbers till {n}: {sum_of_evens}")
    print(f"Total Even Numbers till {n}: {total_evens}")

def main():

    n = int(input("Enter the value of n: "))


    even_series_and_sum(n)

if __name__ == "__main__":
    main()

Enter the value of n: 9
Even Series till 9: [2, 4, 6, 8]
Sum of Even Numbers till 9: 20
Total Even Numbers till 9: 4

In [ ]:
#57
def odd_series_and_sum(n):
    odd_numbers = [num for num in range(1, n + 1, 2)]
    sum_of_odds = sum(odd_numbers)
    total_odds = len(odd_numbers)

    print(f"Odd Series till {n}: {odd_numbers}")
    print(f"Sum of Odd Numbers till {n}: {sum_of_odds}")
    print(f"Total Odd Numbers till {n}: {total_odds}")

def main():

    n = int(input("Enter the value of n: "))


    odd_series_and_sum(n)

if __name__ == "__main__":
    main()

Enter the value of n: 5
Odd Series till 5: [1, 3, 5]
Sum of Odd Numbers till 5: 9
Total Odd Numbers till 5: 3

In [ ]:
#58
def print_number_series():
    for num in range(1, 101):
        if num % 3 == 0 and num % 5 == 0:
            print("Talent Next")
        elif num % 3 == 0:
            print("Talent")
        elif num % 5 == 0:
            print("Next")
        else:
            print(num)

def main():

    print_number_series()

if __name__ == "__main__":
    main()

1
2
Talent
4
Next
Talent
7
8
Talent
Next
11
Talent
13
14
Talent Next
16
17
Talent
19
Next
Talent
22
23
Talent
Next
26
Talent
28
29
Talent Next
31
32
Talent
34
Next
Talent
37
38
Talent
Next
41
Talent
43
44
Talent Next
46
47
Talent
49
Next
Talent
52
53
Talent
Next
56
Talent
58
59
Talent Next
61
62
Talent
64
Next
Talent
67
68
Talent
Next
71
Talent
73
74
Talent Next
76
77
Talent
79
Next
Talent
82
83
Talent
Next
86
Talent
88
89
Talent Next
91
92
Talent
94
Next
Talent
97
98
Talent
Next

In [ ]:
#59
def calculate_stats(numbers):
    if not numbers:
        print("No numbers provided.")
        return

    maximum = max(numbers)
    minimum = min(numbers)
    average = sum(numbers) / len(numbers)

    print(f"Maximum: {maximum}")
    print(f"Minimum: {minimum}")
    print(f"Average: {average}")

def main():
    # Input the list of numbers (comma-separated)
    numbers = [int(x) for x in input("Enter the numbers separated by commas: ").split(",")]

    # Calculate Maximum, Minimum, and Average
    calculate_stats(numbers)

if __name__ == "__main__":
    main()

Enter the numbers separated by commas: 4
Maximum: 4
Minimum: 4
Average: 4.0

In [ ]:
#60
def convert_time(value, unit_from, unit_to):
    if unit_from == "seconds":
        if unit_to == "minutes":
            return value / 60
        elif unit_to == "hours":
            return value / 3600
    elif unit_from == "minutes":
        if unit_to == "seconds":
            return value * 60
        elif unit_to == "hours":
            return value / 60
    elif unit_from == "hours":
        if unit_to == "seconds":
            return value * 3600
        elif unit_to == "minutes":
            return value * 60

def convert_distance(value, unit_from, unit_to):
    if unit_from == "miles":
        if unit_to == "kilometers":
            return value * 1.60934
    elif unit_from == "kilometers":
        if unit_to == "miles":
            return value / 1.60934

# Similar functions for area, volume, and temperature conversion

# Example usage
time_result = convert_time(120, "seconds", "minutes")
print("Time Conversion:", time_result, "minutes")

distance_result = convert_distance(10, "miles", "kilometers")
print("Distance Conversion:", distance_result, "kilometers")

Time Conversion: 2.0 minutes
Distance Conversion: 16.0934 kilometers

In [ ]:
#61
def sum_of_powers_of_2(n):
    series_sum = sum([2**i for i in range(n + 1)])
    print(f"Sum of the series 1 + 2 + 4 + 8 + ... + 2^{n}: {series_sum}")

def main():

    n = int(input("Enter the value of n: "))

    sum_of_powers_of_2(n)

if __name__ == "__main__":
    main()

Enter the value of n: 5
Sum of the series 1 + 2 + 4 + 8 + ... + 2^5: 63

In [ ]:
#62
def evaluate_polynomial_series(x, n):
    series_sum = sum([x**i for i in range(n + 1)])
    print(f"Result of the series 1 + x + x^2 + ... + x^{n} for x = {x}: {series_sum}")

def main():

    x = float(input("Enter the value of x: "))
    n = int(input("Enter the value of n: "))


    evaluate_polynomial_series(x, n)

if __name__ == "__main__":
    main()

Enter the value of x: 4
Enter the value of n: 4
Result of the series 1 + x + x^2 + ... + x^4 for x = 4.0: 341.0

In [ ]:
#63
def evaluate_series_63(x, n):
    series_sum = sum([(x**i) / (i+1) for i in range(n)])
    print(f"Result of the series: 1 + x + x^2/2 + x^3/3 + ... + x^{n}/n for x = {x}: {series_sum}")

def main():

    x = float(input("Enter the value of x: "))
    n = int(input("Enter the value of n: "))

    evaluate_series_63(x, n)

if __name__ == "__main__":
    main()

Enter the value of x: 4
Enter the value of n: 4
Result of the series: 1 + x + x^2/2 + x^3/3 + ... + x^4/n for x = 4.0: 24.333333333333332

In [ ]:
#64
def evaluate_series_64(x, n):
    series_sum = sum([(-1)**i * (x**i) / (i+1) for i in range(n)])
    print(f"Result of the series: 1 - x + x^2 - x^3/3 + x^4/4 - ... + (-1)^{n} x^{n}/n for x = {x}: {series_sum}")

def main():

    x = float(input("Enter the value of x: "))
    n = int(input("Enter the value of n: "))


    evaluate_series_64(x, n)

if __name__ == "__main__":
    main()

Enter the value of x: 4
Enter the value of n: 5
Result of the series: 1 - x + x^2 - x^3/3 + x^4/4 - ... + (-1)^5 x^5/n for x = 4.0: 39.53333333333333

In [ ]:
#65
import math

def calculate_sine(x, n):
    sine_value = sum([((-1)**i) * (x**(2*i + 1)) / math.factorial(2*i + 1) for i in range(n)])
    return sine_value

def calculate_cosine(x, n):
    cosine_value = sum([((-1)**i) * (x**(2*i)) / math.factorial(2*i) for i in range(n)])
    return cosine_value

def calculate_log(x, n):
    if x > 0 and x < 1:
        log_value = sum([((-1)**(i-1)) * ((1 - x)**i) / i for i in range(1, n)])
        return log_value
    else:
        print("Logarithm is defined only for 0 < x < 1.")

def main():
    x = float(input("Enter the value of x: "))
    n = int(input("Enter the number of terms (n): "))

    sine_result = calculate_sine(x, n)
    cosine_result = calculate_cosine(x, n)
    log_result = calculate_log(x, n)

    print(f"Sine({x}) using {n} terms: {sine_result}")
    print(f"Cosine({x}) using {n} terms: {cosine_result}")
    print(f"Log({x}) using {n} terms: {log_result}")

if __name__ == "__main__":
    main()

Enter the value of x: 4
Enter the number of terms (n): 4
Logarithm is defined only for 0 < x < 1.
Sine(4.0) using 4 terms: -1.3841269841269837
Cosine(4.0) using 4 terms: -2.022222222222223
Log(4.0) using 4 terms: None

In [ ]:
#66
def print_odd_series(x):
    if x <= 30:
        odd_series = [num for num in range(1, x + 1, 2)]
        print(f"Series of Odd Numbers till {x}: {odd_series}")
    else:
        print("Error: x should be less than or equal to 30.")

def main():

    x = int(input("Enter the value of x: "))


    print_odd_series(x)

if __name__ == "__main__":
    main()

Enter the value of x: 5
Series of Odd Numbers till 5: [1, 3, 5]

In [ ]:
#67
def calculate_power(base, exponent):
    result = 1
    for _ in range(exponent):
        result *= base
    return result

def main():
    base = float(input("Enter the base: "))
    exponent = int(input("Enter the exponent: "))

    power_result = calculate_power(base, exponent)

    print(f"{base}^{exponent} is: {power_result}")

if __name__ == "__main__":
    main()

Enter the base: 4
Enter the exponent: 4
4.0^4 is: 256.0

In [ ]:
#68
def print_factors_and_count(number):
    factors = [i for i in range(1, number + 1) if number % i == 0]
    total_factors = len(factors)

    print(f"Factors of {number}: {factors}")
    print(f"Total number of factors: {total_factors}")

def main():

    number = int(input("Enter the number: "))


    print_factors_and_count(number)

if __name__ == "__main__":
    main()

Enter the number: 4
Factors of 4: [1, 2, 4]
Total number of factors: 3

In [ ]:
#69
def sum_of_digits(number):
    digit_sum = sum([int(digit) for digit in str(abs(number))])
    print(f"Sum of digits of {number}: {digit_sum}")

def main():

    number = int(input("Enter the number: "))


    sum_of_digits(number)

if __name__ == "__main__":
    main()

Enter the number: 9
Sum of digits of 9: 9

In [ ]:
#70
def sum_of_digits_until_single_digit(number):
    while number >= 10:
        number = sum([int(digit) for digit in str(number)])
    print(f"Sum of digits until a single digit: {number}")

def main():

    number = int(input("Enter the number: "))


    sum_of_digits_until_single_digit(number)

if __name__ == "__main__":
    main()

Enter the number: 4
Sum of digits until a single digit: 4

In [ ]:
#71
def sum_of_squares_of_digits(number):
    return sum(int(digit)**2 for digit in str(number))
number = 123
result = sum_of_squares_of_digits(number)
print(f"Sum of squares of digits in {number}: {result}")

Sum of squares of digits in 123: 14

In [ ]:
#72
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True
number = 17
result = is_prime(number)
print(f"{number} is prime: {result}")

17 is prime: True

In [ ]:
#73
def reverse_number(number):
    return int(str(number)[::-1])
number = 12345
result = reverse_number(number)
print(f"Reverse of {number}: {result}")

Reverse of 12345: 54321

In [ ]:
#74
def is_palindrome(number):
    return str(number) == str(number)[::-1]
number = 1221
result = is_palindrome(number)
print(f"{number} is palindrome: {result}")

1221 is palindrome: True

In [ ]:
#75
def count_digits(number):
    return len(str(number))
number = 45678
result = count_digits(number)
print(f"Number of digits in {number}: {result}")

Number of digits in 45678: 5

In [ ]:
#76
def digit_frequency(number, digit):
    return str(number).count(str(digit))
number = 1223334444
digit = 4
result = digit_frequency(number, digit)
print(f"Frequency of {digit} in {number}: {result}")

Frequency of 4 in 1223334444: 4

In [ ]:
#77
def is_perfect_number(number):
    divisors_sum = sum(i for i in range(1, number) if number % i == 0)
    return divisors_sum == number
number = 69
result = is_perfect_number(number)
print(f"{number} is a perfect number: {result}")

69 is a perfect number: False

In [ ]:
#78
def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)
number = 5
result = factorial(number)
print(f"Factorial of {number}: {result}")

Factorial of 5: 120

In [ ]:
#79
import math

def gcd(x, y):
    return math.gcd(x, y)

def lcm(x, y):
    return x * y // gcd(x, y)
num1, num2 = 12, 18
result_gcd = gcd(num1, num2)
result_lcm = lcm(num1, num2)
print(f"GCD of {num1} and {num2}: {result_gcd}")
print(f"LCM of {num1} and {num2}: {result_lcm}")

GCD of 12 and 18: 6
LCM of 12 and 18: 36

In [ ]:
#80
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence
terms = 10
result = fibonacci(terms)
print(f"First {terms} Fibonacci Numbers: {result}")

In [ ]:
#81
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
def generate_twin_primes(limit):
    twin_primes = []
    for num in range(2, limit - 1):
        if is_prime(num) and is_prime(num + 2):
            twin_primes.append((num, num + 2))
    return twin_primes
def print_twin_primes(limit):
    twin_primes = generate_twin_primes(limit)
    for twin_prime in twin_primes:
        print(f"{twin_prime[0]}-{twin_prime[1]}")
limit = int(input("Enter the limit: "))
print_twin_primes(limit)

Enter the limit: 9
3-5
5-7

In [ ]:
#82
def is_armstrong(num):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    return num == sum
    num = 153
print(f"{num} is an Armstrong number: {is_armstrong(num)}")
num = 1253
print(f"{num} is an Armstrong number: {is_armstrong(num)}")

1253 is an Armstrong number: False
1253 is an Armstrong number: False

In [ ]:
#83
def display_multiplication_table(n):
    for i in range(1, 11 ):
        print("{} * {} = {}".format(n, i, n * i))
n = 2
display_multiplication_table(n)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
#84
a=eval(input("enter the value a"))
b=eval(input("enter the value b"))
c=eval(input("enter the value c"))
avg=(n+n+n)/3
print("the average of three numbers is",avg)
sum=n+n+n
print("the sum of three numbers is",sum)

enter the value a4
enter the value b5
enter the value c5
the average of three numbers is 2.0
the sum of three numbers is 6

In [ ]:
#85
def fibonacci(n):
    if n <= 0:
        return "Invalid input"
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        a, b = 0, 1
        for _ in range(2, n):
            a, b = b, a + b
        return b


n = int(input("Enter the value of n: "))
print("The", n, "th Fibonacci number is:", fibonacci(n))

Enter the value of n: 4
The 4 th Fibonacci number is: 2

In [ ]:
#86
def square_root(number, precision=0.0001):
    if number < 0:
        return "Invalid input: Cannot find square root of a negative number"

    x = number
    while True:
        root = 0.5 * (x + number / x)
        if abs(root - x) < precision:
            return root
        x = root


num = float(input("Enter a number to find its square root: "))
print("Square root of", num, "is:", square_root(num))

Enter a number to find its square root: 4
Square root of 4.0 is: 2.000000000000002

In [ ]:
#87
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def prime_numbers_between(start, end):
    return [num for num in range(max(start, 2), end) if is_prime(num)]


start = int(input("Enter the start of the interval: "))
end = int(input("Enter the end of the interval: "))
print("Prime numbers between", start, "and", end, "are:", prime_numbers_between(start, end))

Enter the start of the interval: 4
Enter the end of the interval: 4
Prime numbers between 4 and 4 are: []

In [ ]:
#88
def find_largest_smallest_second_largest(num1, num2, num3):

    largest = max(num1, num2, num3)


    smallest = min(num1, num2, num3)


    second_largest = num1 + num2 + num3 - largest - smallest

    return largest, smallest, second_largest


num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

largest, smallest, second_largest = find_largest_smallest_second_largest(num1, num2, num3)
print("Largest number:", largest)
print("Smallest number:", smallest)
print("Second largest number:", second_largest)

Enter the first number: 4
Enter the second number: 5
Enter the third number: 6
Largest number: 6.0
Smallest number: 4.0
Second largest number: 5.0

In [ ]:
#89
def hcf(num1, num2):
    while num2:
        num1, num2 = num2, num1 % num2
    return num1


num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("HCF of", num1, "and", num2, "is:", hcf(num1, num2))

Enter the first number: 4
Enter the second number: 8
HCF of 4 and 8 is: 4

In [ ]:
#90
a=int(input("enter the starting range"))
b=int(input("enter the ending range"))

for i in range(a,b):
    j=i
    summ=0
    l=len(str(i))
    while(i>0):
        r=i%10
        summ+=r**l
        i//=10
    if j==summ:
        print(summ)

enter the starting range4
enter the ending range5
4

In [ ]:
#91
num=int(input("enter a number:"))
sum1=0
temp=num
while(num):
  i=1
  f=1
  r=num%10
  while(i<=r):
      f=f*i
      i=i+1
  sum1=sum1+f
  num=num//10
if(sum1==temp):
  print("the number is a strong number")
else:
  print("the number is not a strong number")

enter a number:4
the number is not a strong number

In [ ]:
#92
num = int(input("enter a number"))

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

enter a number4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
#93
p=int(input())
for i in range(p):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

4
1
2 2
3 3 3
4 4 4 4

In [ ]:
#94
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")

    while k!=(2*i-1):
        print("* ", end="")
        k += 1

    k = 0
    print()

Enter number of rows: 4
      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
#95
p=1
for i in range(1,5):
  for j in range(5-i):
    print(' ',end='')
  for k in range(i):
    print(p,end=' ')
    p+=1
  print()

    1
   2 3
  4 5 6
 7 8 9 10

In [ ]:
#96
#a
for i in range(0,5):
    for j in range(0,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [ ]:
#b
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

In [ ]:
#c
n=int(input("enter the number:"))
for i in range(65,n+65):
  for j in range(65,i+1):
      print(chr(i),end=" ")
  print()

In [ ]:
#d
for i in range(n):
    print('* '*(n-i))

* * * * *
* * * *
* * *
* *
*

In [ ]:
#e
for i in range(n):
  for j in range(n-i):
      print(j+1,end=' ')
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#f
for i in range(n):
  for j in range(n-i-1):
      print(' ',end='')
  for k in range(2*i+1):
    print('*',end='')
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
#g
num_rows = int(input("enter the no of rows "))

for i in range(1, num_rows + 1):
    print(" " * (num_rows - i) * 2, end="")
    for j in range(i, i + i):
        print(j, end=" ")
    for j in range(i + i - 2, i - 1, -1):
        print(j, end=" ")
    print()

enter the no of rows 5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
#h
size = int(input("enter tthe size "))
for i in range(size):
    for j in range(size):
        print(max(i, j, size-i-1, size-j-1) + 1, end=" ")
    print()

enter tthe size 5
5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [ ]:
#97
for char in range(5):
    print(f"Character: {chr(char)}, ASCII Value: {ord(chr(char))}")

Character:  , ASCII Value: 0
Character: , ASCII Value: 1
Character: , ASCII Value: 2
Character: , ASCII Value: 3
Character: , ASCII Value: 4

In [ ]:
#98
number = int(input("Enter a number: "))
factors = []
divisor = 2

while number > 1:
    while number % divisor == 0:
        factors.append(divisor)
        number //= divisor
    divisor += 1

print(f"Prime factors of {number}: {factors}")

Enter a number: 4
Prime factors of 1: [2, 2]

In [ ]:
#99
import math
def ncr(n,r):
  return math.factorial(n)//(math.factorial(r)* math.factorial(n-r))
n=5
r=2
print("the binomial coeffiencent of ",n,"choose",r,"is:ncr(n,r)")

the binomial coeffiencent of  5 choose 2 is:ncr(n,r)