<a href="https://colab.research.google.com/github/RithvikKuchi/Work-by-Rithvik/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas:used for data analysis


data series:list one dimensions


data frames:list-2d

In [ ]:
#import pandas library
import pandas as pd
print("Version of the pandas is: ",pd.__version__)

Version of the pandas is:  2.0.3

In [ ]:
#CREATING A DATA FRAME ---> 2D ARRAY(TABLE) - TABLE HEADER & TABLE CONTENT
import pandas as pd
dfr={"stu_reg":[1,2,3,4,5,6],"stu_name":['john','kamal','shubhash','kenny',"leviosa",'hellen'],"stu_res":['pass','pass','pass','pass','fail','pass']}
data=pd.DataFrame(dfr)
print(type(data))
print(data)

<class 'pandas.core.frame.DataFrame'>
   stu_reg  stu_name stu_res
0        1      john    pass
1        2     kamal    pass
2        3  shubhash    pass
3        4     kenny    pass
4        5   leviosa    fail
5        6    hellen    pass

In [ ]:
#creating the data series 2d array
import pandas as pd
dfr={"stu_reg":[1,2,3,4,5,6],"stu_name":['john','kamal','shubhash','kenny',"leviosa",'hellen'],"stu_res":['pass','pass','pass','pass','fail','pass']}
data=pd.DataFrame(dfr)
print(type(data))
print(data)
for ele in dfr:
  print(dfr)

<class 'pandas.core.frame.DataFrame'>
   stu_reg  stu_name stu_res
0        1      john    pass
1        2     kamal    pass
2        3  shubhash    pass
3        4     kenny    pass
4        5   leviosa    fail
5        6    hellen    pass
{'stu_reg': [1, 2, 3, 4, 5, 6], 'stu_name': ['john', 'kamal', 'shubhash', 'kenny', 'leviosa', 'hellen'], 'stu_res': ['pass', 'pass', 'pass', 'pass', 'fail', 'pass']}
{'stu_reg': [1, 2, 3, 4, 5, 6], 'stu_name': ['john', 'kamal', 'shubhash', 'kenny', 'leviosa', 'hellen'], 'stu_res': ['pass', 'pass', 'pass', 'pass', 'fail', 'pass']}
{'stu_reg': [1, 2, 3, 4, 5, 6], 'stu_name': ['john', 'kamal', 'shubhash', 'kenny', 'leviosa', 'hellen'], 'stu_res': ['pass', 'pass', 'pass', 'pass', 'fail', 'pass']}

In [ ]:
#customization of index values
import pandas as pd
data=[100,2,300,4,500]
myvar=

SyntaxError: invalid syntax (<ipython-input-4-bbf0bbbf9ada>, line 4)

In [ ]:
#accessing the data from data frame
print(stu_df.loc[2:4])

In [ ]:
help(df)

In [ ]:
#working with csv file
#file path:/content/drive/MyDrive/WPP2022_Locations_notes.csv
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/WPP2022_Locations_notes.csv")
print(type(df))
print(df)

*******PANDAS*****************
1. IT IS USED FOR ANALYSIS THE DATA
2. TABLES AND GRAPH
3. IT CAN ACESS DATA IN THE FORM OF DATA FRAMES(ROWS AND COLUMNS)
4. IT IS A 2D ARRAY
5. WE COULD NOT CONVERCT DATA FRAMES INTO DATA SERIES DIRECTLY
6. INDEXING IS POSSIBLE IN DATA SERIES ONLY

In [ ]:
# Import pandas
import pandas as pd
print("version of the pandas is :",pd.__version__)

version of the pandas is : 2.0.3

In [ ]:
# creating the data frames -2d array (table) -table_header & table_content dict
import pandas as pd
stu_dict={"stu_reg":[1,2,3,4,5],
          "stu_name":["ravi","raghu","ramya","sai","anu"],
          "stu_res":["pass","fail","pass","fail","with held"]}
print(type(stu_dict))
print(stu_dict)
stu_df=pd.DataFrame(stu_dict)
print(type(stu_df))
print(stu_df)

<class 'dict'>
{'stu_reg': [1, 2, 3, 4, 5], 'stu_name': ['ravi', 'raghu', 'ramya', 'sai', 'anu'], 'stu_res': ['pass', 'fail', 'pass', 'fail', 'with held']}
<class 'pandas.core.frame.DataFrame'>
   stu_reg stu_name    stu_res
0        1     ravi       pass
1        2    raghu       fail
2        3    ramya       pass
3        4      sai       fail
4        5      anu  with held

In [ ]:
import pandas as pd
stu_dict={"stu_reg":[1,2,3,4,5],
          "stu_name":["ravi","raghu","ramya","sai","anu"],
          "stu_res":["pass","fail","pass","fail","with held"]}
stu_df=pd.DataFrame(stu_dict)
print(stu_df)

   stu_reg stu_name    stu_res
0        1     ravi       pass
1        2    raghu       fail
2        3    ramya       pass
3        4      sai       fail
4        5      anu  with held

In [ ]:
#creating the data series - 1d arry (rows)
import pandas as pd
stu_dict={"stu_reg":[1,2,3,4,5],
          "stu_name":["ravi","raghu","ramya","sai","anu"],
          "stu_res":["pass","fail","pass","fail","with held"]}
stu_s=pd.Series(stu_dict)
print(stu_s)
print("***************")
print(stu_s["stu_name"])
print("$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$")
for ele in stu_s:
  print(ele)

stu_reg                         [1, 2, 3, 4, 5]
stu_name         [ravi, raghu, ramya, sai, anu]
stu_res     [pass, fail, pass, fail, with held]
dtype: object
***************
['ravi', 'raghu', 'ramya', 'sai', 'anu']
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
[1, 2, 3, 4, 5]
['ravi', 'raghu', 'ramya', 'sai', 'anu']
['pass', 'fail', 'pass', 'fail', 'with held']

In [ ]:
import pandas as pd
data=[100,2,300,4,500]
myvar=pd.Series(data,index=['a','b','c','d','e'])
print(myvar)

a    100
b      2
c    300
d      4
e    500
dtype: int64

In [ ]:
# Accessing the data from Data frame
print(stu_df.loc[0:2])

   stu_reg stu_name stu_res
0        1     ravi    pass
1        2    raghu    fail
2        3    ramya    pass

In [ ]:
#working with csv fiels
#File path :/content/drive/MyDrive/files_sample/customers-100.csv
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/WPP2022_Locations_notes.csv")
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   Notes                                               Text
0      a  Countries and areas are grouped into eight Sus...
1      b  Sub-Saharan Africa refers to all of Africa exc...
2      c  The designation “more developed” and “less dev...
3      d  More developed regions comprise Europe, Northe...
4      e  Less developed regions comprise all regions of...
5      f  The group of least developed countries include...
6      g  Other less developed countries comprise the le...
7      h  The group of Landlocked Developing Countries (...
8      i  The group of Small Island Developing States (S...
9      j  The country classification by income level is ...
10     k  Countries and areas are grouped geographically...
11     1    Including Agalega, Rodrigues and Saint Brandon.
12     2  For statistical purposes, the data for France ...
13     3                                Including Zanzibar.
14     4  Including Ascension and Tristan da Cunha. For ...
15     5  For statistical purposes, the data for China d...
16     6  As of 1 July 1997, Hong Kong became a Special ...
17     7  As of 20 December 1999, Macao became a Special...
18     8  For statistical purposes, the data for China d...
19     9                       Including Sabah and Sarawak.
20    10                        Including Nagorno-Karabakh.
21    11                       Refers to the whole country.
22    12              Including Abkhazia and South Ossetia.
23    13                          Including East Jerusalem.
24    14                            Including Transnistria.
25    15                                  Including Crimea.
26    16  For statistical purposes, the data for Denmark...
27    17  For statistical purposes, the data for Denmark...
28    18                           Including Åland Islands.
29    19  For statistical purposes, the data for United ...
30    20          Including Svalbard and Jan Mayen Islands.
31    21  Refers to the United Kingdom of Great Britain ...
32    22                  Refers to the Vatican City State.
33    23  Refers to Kosovo (United Nations administered ...
34    24  For statistical purposes, the data for Serbia ...
35    25       Including Canary Islands, Ceuta and Melilla.
36    26  For statistical purposes, the data for France ...
37    27  For statistical purposes, the data for Netherl...
38    28  For statistical purposes, the data for Netherl...
39    29  For statistical purposes, the data for United ...
40    30  A dispute exists between the Governments of Ar...
41    31  For statistical purposes, the data for United ...
42    32  Including Christmas Island, Cocos (Keeling) Is...
43    33  For statistical purposes, the data for New Zea...
44    34                                Including Pitcairn.
45    35  For statistical purposes, the data for New Zea...

In [ ]:
#print(df)
for ele in df:
  print(df)

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [ ]:
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)
print(df.head())

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [ ]:
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)
print("drop")
print(df.drop(3))
print("tail")
print(df.tail())

drop
   A  B
0  1  a
1  2  b
2  3  c
4  5  e
tail
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

**JSON FILES**

In [ ]:
#JSON STRING
import pandas as pd
import json
#s='{"col1=:{"row1":1},{"row2":2},{"row3":3}"},"col2":,{"row":"x","row2":"y","row3":"z"}
s2='{{"fruitname":{"row1":"apple","row2":"orange"}},"fruit colour":{"row1":"red","row2":"orange"}}'
df=pd.read()

AttributeError: module 'pandas' has no attribute 'read'