<a href="https://colab.research.google.com/github/RithvikKuchi/Work-by-Rithvik/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a Tuple " Compile Time" -() or tuple() as a constructor
t=(1,4,2,5,7)
print(t) # Tuple Display

(1, 4, 2, 5, 7)

In [ ]:
# Tuple Supports indexing : Ordered Type
t1=(10,67,32,59)
print(t1)
print(t1[1])

(10, 67, 32, 59)
67

In [2]:
# Tuples are IMMUTABLE IN NATURE
t2=(1,2,3)
t2[1]=20
print(t2)

TypeError: 'tuple' object does not support item assignment

In [3]:
# Tuples creation and display
tp=(20,3.4,"Hello",3+6j)
print(tp)
# for loop with INDEX
for i in range(0,len(tp)):
  print(tp[i])
print("__________________")
# for each
for ele in tp:
  print(ele)

(20, 3.4, 'Hello', (3+6j))
20
3.4
Hello
(3+6j)
__________________
20
3.4
Hello
(3+6j)

In [4]:
# Reading tuple elements at run time.
# Use List and then type cast to tuple.
n=int(input("Enter the number of elements for the tuple"))
l=[]
for i in range(0,n):
  l.append(eval(input()))
t=tuple(l)
print(t)

Enter the number of elements for the tuple4
5
5
8
9
(5, 5, 8, 9)

In [ ]:
# Reading tuple elements at run time.
# Without using List.
size=int(input("Enter the number of elements for the tuple"))
t=()
for i in range(0,size):
  ele=eval(input())
  t=t+(ele,)
print(t)

Enter the number of elements for the tuple3
10
20
30
(10, 20, 30)

In [ ]:
t1=(1,2,3)
t2=(4,)
t1=t1+t2
print(t1)

(1, 2, 3, 4)

In [ ]:
# Tuple Methods -count(), index()
te=(10,20,30,10,10,20)
print(te.count(10))
print(te.index(30))

3
2

In [ ]:
# Create the Tuple with Even Integers till N.
n=int(input("Enter the N Value"))
t=()
for i in range(0,n+1):
  if(i%2==0):
    t=t+(i,)
print(t)

Enter the N Value10
(0, 2, 4, 6, 8, 10)

In [ ]:
# Create a tuple of factors for the input number.
num=int(input("Enter the value of num"))
tu=()
for i in range(1,num+1):
  if(num%i==0):
    tu=tu+(i,)
print(tu)

Enter the value of num10
(1, 2, 5, 10)

In [ ]:
l=(10,20,30,10,10,20,30)
print(l)
l.count(10)

(10, 20, 30, 10, 10, 20, 30)

3

In [ ]:
l=(10,20,30,10,10,20)
print(l)
l.index(30)

(10, 20, 30, 10, 10, 20)

2

In [ ]:
#factors of no.#method 1
n=int(input())
l=tuple(i for i in range(1,n+1) if(n%i==0))
print(l)

10
(1, 2, 5, 10)

In [ ]:
#to create a factors for a input number #method 2
n=int(input())
t=()
for i in range(1,n+1):
  if(n%i==0):
    t+=(i,)
print(t)

10
(1, 2, 5, 10)

In [ ]:
# Sorted
l=[2,6,1,0,-1]
l1=sorted(l)
print(l)
print(l1)

[2, 6, 1, 0, -1]
[-1, 0, 1, 2, 6]

In [ ]:
#sorted list
l=[2,6,-1,3,0]
l1=sorted(l)
print(l)
print(l1)

[2, 6, -1, 3, 0]
[-1, 0, 2, 3, 6]

In [ ]:
# List Native Method sort() vs sorted()
l=[2,6,1,0,-1]
print("Input List:",l)
l.sort()
print("Sorted List",l)

Input List: [2, 6, 1, 0, -1]
Sorted List [-1, 0, 1, 2, 6]